@using System.Net.Http
@using System.Net.Http.Json
@using frontrestaurante.Data
@inject HttpClient Http
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">frontrestaurante</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (respuesta.DatosJson != null && respuesta != null)
        {
            @foreach (var item in respuesta.DatosJson)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"restaurantes/{item.NombreCiudad}")">
                     
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @item.NombreCiudad
                    </NavLink>
                </li>
            }
        }

        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Restaurante
            </NavLink>
        </li>
    </ul>
</div>

@code {
    public string url = "/api/Listaciudades";
    public Data.RespuestaCiudadModels respuesta = new Data.RespuestaCiudadModels();
    public string Titled { get; set; }

    protected override async Task OnInitializedAsync() => respuesta = await Http.GetFromJsonAsync<Data.RespuestaCiudadModels>
    (url);


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
    collapseNavMenu = !collapseNavMenu;
    }
    }
