@page "/"

<h1>Proyecto de SiberianDb</h1>

<ul>
    <li>1.-EN EL ARCHIVO appsettigns.json ubicado en la parte del backend agregar la ruta de conexion del archivo sqlserver</li>
    <li>2.-Restaurar el archivo.bak de la base de datos en la carpeta Data del backend.</li>
    <li>3-se realizo el menu de las ciudades para eso agregar ciudades en los endpoint respectivos</li>
    <li>4-se deberia ver un menu con las ciudades si no aparece agregar ciudad con los endpoint correspondientes o en el swagger de la api</li>
    <li>POST</li>
    <li>/api/GrabaCiudad</li>
    <li>POST</li>
    <li>/api/ActualizaCiudad</li>
    <li>GET</li>
    <li>/api/Listaciudades</li>
    <li>5.- los endpoints correspondiente a la empresa son los siguientes con la estructura del documento proporcionado.</li>
    <li>GET</li>
    <li> /api​/ListaRestaurantexnom​/{nombreCiudad}</li>
    <li>GET</li>
    <li> /api​/MotrarRestaurantexid​/{id}</li>
    <li>POST</li>
    <li> /api​/GrabaRestaurante</li>
    <li>POST</li>
    <li> /api​/ActualizarRestaurante</li>
    <li>DELETE</li>
    <li> /{id}</li>
</ul>

<SurveyPrompt Title="Restaurante Siberian Prueba Tecnica" />
