@page "/"

<h1>Proyecto de SiberianDb</h1>

<ul>
    <li> AGREGAR EN EL EL ARCHIVO appsettigs.json la ruta de la base de datos</li>
    <li> los dos proyectos estan en la misma solucion </li>
</ul>

<SurveyPrompt Title="Restaurante Siberian Prueba Tecnica" />
